body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.app {
  header {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    border-bottom: 1.5px solid black;
    h1 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 10px 0 0 0;
      padding: 0;
    }
  }
  .canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    padding: 5vw;
    width: calc(100% - 10vw);
  }
}


@media only screen and (max-width: 1150px) {
  .app {
    .canvas {
      width: calc(100% - 4vw);
      padding: 2vw;
      height: 100vh;
      flex-direction: column; 
      .controls {
        height: 70%;
        width: 100%;
        align-items: center;
        margin-bottom: 2vw;
        position: relative;
        input[type='text'] {
          font-size: 4vw;
        }
        .hive {
          width: fit-content;
          left: -8%;
          transform: translate(100%, 0);
          margin: auto 0;
        }
        .btns {
          position: absolute;
          left: 0;
          flex-direction: column-reverse;
          gap: 0;
          justify-content: space-around;
          height: 75%;
          input[type='button'] {
            font-size: large;
            padding: 20px 15px;
          }
        }
      }
      .word-list {
        height: 50%;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {

}